 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/telangana.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 325px auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 30px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 35px auto 0 372px;
}

.u-section-1 .u-btn-2 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  margin: -45px auto 60px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}.u-block-119a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-119a-3 {
  position: absolute;
  left: 0;
}

.u-block-119a-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/slider41.jpg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-2-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 339px auto 0;
}

.u-section-2-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 41px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 644px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 493px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/170411-industrial-accident.jpg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-2-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 36px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 767px) {
  .u-section-2-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/slider41.jpg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 318px auto 0;
}

.u-section-2-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 41px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 767px) {
  .u-section-2-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-text-1 {
    font-size: 3rem;
  }
}